#include <iostream>
using namespace std;

int main()
{
    inceput:

    int a,b;
    cout <<"a=";cin >> a;
    cout <<"b=";cin >> b;

    if(a==b) goto cazul2;
    else goto cazul1;
    {
    cazul1:

         if (a>b) cout << "A este mai mare.";
         else cout << "B este mai mare.";

    cazul2:

        if (a==b) cout << "Ambele sunt egale.";
        else {};
    }

    cout << endl;
    goto inceput;

}
